.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    width: 150vh;
    margin-top: 5vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-right {
    margin-top: 2vh;
    width: 80vh;
    background-color: aliceblue;
}

.item-left {
    margin-top: 2vh;
    width: 50vh;
}
.user-list {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.user-photo {
    width: 10vh;
    height: 10vh;
    border-radius: 50px;
}

.user-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vh;
    margin-left: 2vh;
}

.user-list-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.user-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-input-item {
    margin:1vh 0 1vh;
}

.user-input-item-group {
    display: flex;
    flex-direction: column;
}